.inline-block1, .inline-block2, .inline-block3, .inline-block4 {
display: inline-block;
vertical-align: top;
}

.inline-blockLogo {
    width: 23%;
    padding: 1%;
}

nav {
    width: 73%;
    padding: 1%;
    width: 73%;
    padding: 1%;
    margin-left: 1%;
    margin-right: 0%;
    background-color:rgb(255, 201, 201)
}

ul {
    width: 50%;
    margin-left: auto;
}

.inline-blockLogo {
    text-align: center;
}

.heroImg {
    height: 600px;
    padding: 25px;
    position: static;
}

.content {
    width: 500px;
    margin: 0 auto;
}

.footer {
    background-color: #373738;
    padding: 25px;
    width: 100%;
    position: fixed;
    color: rgb(255, 201, 201);
    text-align: center;
}

.inline-block11, .inline-block22, .inline-block33, .inline-block44 {
    display: inline-block;
    vertical-align: top;
    justify-content: center;
        align-items: center;
}